@page
@model MintPsyBlog.Pages.Blogs.IndexModel

@{
    ViewData["Title"] = "Blogs";
}


<p>
    <a asp-page="Create" class="mx-auto lg:mx-0 bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out inline-block py-2 px-4 text-black font-bold no-underline" >Create new</a>
</p>
@{
    var reversedBlogs = Model.Blog.Reverse().ToList();
}

<h1>
    
        Total blogs: @reversedBlogs.Count()
    
</h1>

<form>
    <p>
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" asp-for="BlogCategory" asp-items="Model.Categorys">
            <option value="">All</option>
        </select>
        Title: <input class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" asp-for="SearchString" />
        <input class="mx-auto lg:mx-0 bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out inline-block py-2 px-4 text-black font-bold no-underline" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
  
    <tbody>
        @foreach (var item in reversedBlogs)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                    <img class="max-w-none w-52 h-52" src="@Url.Content(item.Image)" alt="Description" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
